.dub
docs.json
__dummy.html
docs/
build/
*.exe
*.pdb
*.o
*.obj
*.lst


# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.dylib

# Executables
*.exe
bin/

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Mac OS X
.DS_Store

# emacs
*~
